@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
    * {
        @apply font-roboto;
    }
    h1,h2,button{
        @apply font-bold
    }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .behind {
    z-index: -1;
  }

  .textStroke {
    -webkit-text-stroke: 0.2vh black;
  }
}
