/* @tailwind base;
@tailwind components;
@tailwind utilities;


.pp {
    max-width:30px;
    max-height:30px;
    border-radius: 100%;
}

.thumbnail-subscribe-list {
    width: 500px;
    height: auto;
    border-radius: 10px;
}

.thumbnail-trendings-list {
    width: 300px;
    height: auto;
    border-radius: 10px;
} */
