.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .create-form {
    width: 600px;
    margin-top: 20px;
  }
  
  .create-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .create-form input[type='file'] {
    display: block;
    margin-bottom: 20px;
  }
  
  .create-form input[type='text'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  
.annuler{
    color: #000000;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.creer{
    color: #002fd8;
    border: none;
    padding: 10px 20px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
}
  .create-form input[type='submit']:hover {
    background-color: #cbc7fc;
    border-radius: 50px;
  }
  
  .bonhomme-logo{
    height: 250px;
  }

  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080; /* Pour un fond semi-transparent */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .create-container {
    position: relative; /* Ajoutez une position relative */
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 80%; /* Vous pouvez ajuster la largeur */
  }
  
  .close-btn {
    color: #000000;
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px; /* Taille de la police */
  }

  
  

  
  
  

  