#all {
    display: flex;
    justify-content: center;
}

#videoContainer {
    margin-top:1vh;
    height: calc(95vh - 56px);
    background-color: rgba(0,0,0,0);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    overflow: hidden;
    position: relative
}

#short {
    height: calc(100vh - 56px);
    width: auto;
    object-fit: cover;
}

#metadataContainer {
    padding: 1vh;
    position: absolute;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 30px;
      
}