#all {
    display: flex;
    justify-content: center;
}

#videoContainer {
    height: calc(100vh - 56px);
    width: calc((100vh - 56px)*9/16);
    margin-top:1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

#short {
    height: calc(100vh - 56px);
    width: calc((100vh - 56px)*9/16);
    object-fit: cover;
    position: absolute;
    z-index:-1;
}

#metadataContainer {
    padding: 1vh;
    bottom: 8px;
    left: 16px;
    color: white;
    font-size: 30px;
      
}

.gradient{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgb(19, 19, 19) 0%, rgba(0, 0, 0, 0) 100%);
}