.videoContainer {
  height: 95vh;
  width: 53.4375vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  scroll-snap-align: center;
}

.short {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
