.videoContainer {
  height: 80vh;
  width: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  scroll-snap-align: center;
  border-radius: 0.7vh;
  overflow: hidden;
}

.short {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: -1;
}
